.nav-brand{
    text-align: center;
    color:white;
}
.nav-brand:hover{
    text-align: center;
    color:white;
    text-decoration: none;
}
.nav-brand h1{
    font-size:30px;
    margin-bottom:0px;
}
.nav-brand p{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.overlay{
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    position: absolute;
    background: rgb(0,0,0,0.5);
    z-index:0px;
}
.nav-link{
    color: white;
}
.takeaction{
    border:2px solid white;
    border-radius:50px;
}
.takeaction:hover{
    border:2px solid red;
    border-radius:50px;
    background: red;
}
.custom div{
    display: inline-block;
}
.c1{
    width:100px;
}
.c2{
    width:500px;
    text-align:center;   
}
.imgs{
    border-radius: 5px;
    box-shadow:10px 10px 0px #ccc;
}
.btnsty{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
}
.imgr{
    border-radius:10px;
}
@media screen and (max-width:600px){
    .imgr{
        width:100%;
    }   
}